<div class="container">
  <h3 class="mt-3">Welcome! username</h3>
  <div class="row">
    <div class="col-md-8 ">
      <form [formGroup]="postHalaqaat" (ngSubmit)="posthalaqahForm()">

        <div class="form-group my-3">
          <label for="teacher">Lecturer's Name</label>
          <input type="text" id="teacher" class="form-control" placeholder="Teacher" formControlName="teacher">
          <div *ngIf="submitted && postHalaqaat.controls.teacher.errors">
            <div *ngIf="postHalaqaat.controls.teacher.errors.required" class="text-danger"> field is required</div>
          </div>
        </div>

        <div class="form-group my-3">
          <label for="book">Book</label>
          <input type="text" class="form-control" id="book" placeholder="Book to be treated" formControlName="book">
          <div *ngIf="submitted && postHalaqaat.controls.book.errors">
            <div *ngIf="postHalaqaat.controls.book.errors.required" class="text-danger">Please kindly enter detials of
              the book to be treated</div>
          </div>
        </div>

        <div class="form-group my-3">
          <label for="days">Days</label>
          <select class="form-control" id="days" formControlName="days">
            <option value="" selected="selected">- Select Day-</option>
            <option> Monday's</option>
            <option> Tuesday's</option>
            <option> Wednesday's</option>
            <option> Thursday's</option>
            <option> Friday's</option>
            <option> Saturday's</option>
            <option> Sunday's</option>

          </select>
          <div *ngIf="submitted && postHalaqaat.controls.days.errors">
            <div *ngIf="postHalaqaat.controls.days.errors.required" class="text-danger">Please kindly enter detials of
              the book to be treated</div>
          </div>
        </div>

        <div class="form-group my-3">
          <label for="time">Time</label>
          <input type="text" class="form-control" id="time" placeholder="time of lecture" formControlName="time">
          <div *ngIf="submitted && postHalaqaat.controls.time.errors">
            <div *ngIf="postHalaqaat.controls.time.errors.required" class="text-danger">Please kindly enter time lecture
              is scheduled to start</div>
          </div>
        </div>

        <div class="form-group my-3">
          <label for="state">State</label>
          <select class="form-control" id="sate" formControlName="state">
            <option value="" selected="selected">- Select State -</option>
            <option value="Abuja FCT">Abuja FCT</option>
            <option value="Abia">Abia</option>
            <option value="Adamawa">Adamawa</option>
            <option value="Akwa Ibom">Akwa Ibom</option>
            <option value="Anambra">Anambra</option>
            <option value="Bauchi">Bauchi</option>
            <option value="Bayelsa">Bayelsa</option>
            <option value="Benue">Benue</option>
            <option value="Borno">Borno</option>
            <option value="Cross River">Cross River</option>
            <option value="Delta">Delta</option>
            <option value="Ebonyi">Ebonyi</option>
            <option value="Edo">Edo</option>
            <option value="Ekiti">Ekiti</option>
            <option value="Enugu">Enugu</option>
            <option value="Gombe">Gombe</option>
            <option value="Imo">Imo</option>
            <option value="Jigawa">Jigawa</option>
            <option value="Kaduna">Kaduna</option>
            <option value="Kano">Kano</option>
            <option value="Katsina">Katsina</option>
            <option value="Kebbi">Kebbi</option>
            <option value="Kogi">Kogi</option>
            <option value="Kwara">Kwara</option>
            <option value="Lagos">Lagos</option>
            <option value="Nassarawa">Nassarawa</option>
            <option value="Niger">Niger</option>
            <option value="Ogun">Ogun</option>
            <option value="Ondo">Ondo</option>
            <option value="Osun">Osun</option>
            <option value="Oyo">Oyo</option>
            <option value="Plateau">Plateau</option>
            <option value="Rivers">Rivers</option>
            <option value="Sokoto">Sokoto</option>
            <option value="Taraba">Taraba</option>
            <option value="Yobe">Yobe</option>
            <option value="Zamfara">Zamfara</option>

          </select>
          <div *ngIf="submitted && postHalaqaat.controls.state.errors">
            <div *ngIf="postHalaqaat.controls.state.errors.required" class="text-danger">Please kindly enter state
            </div>
          </div>
        </div>

        <div class="form-group my-3">
          <label for="message">Venue</label>
          <textarea class="form-control" id="venue" formControlName="venue"
            placeholder="venue of the lecture "></textarea>
          <div *ngIf="submitted && postHalaqaat.controls.venue.errors">
            <div *ngIf="postHalaqaat.controls.venue.errors.required" class="text-danger">Your venue is important</div>
          </div>
        </div>
        <button class="btn-info form-control mb-3" type="submit">Submit</button>

      </form>
    </div>
    <div class="col-md-1 offset-md-2">

    </div>
  </div>
</div>
<footer class="text-center mt-4 pb-2 border-top bg-default">
  <p class="pt-2 m-0">Developed and maintained with ❤ by BeardedPrince and <a
      href="https://github.com/beardedprince/Islamic-Halaqaat/blob/master/README.md" target="_blanks">Others</a> </p>
</footer>