.location{
    position: absolute;
    top:0;
    right:0;
   border-radius: 0px 0.25rem 0px 0px
}

.card{
    border-left:4px solid #17a2b8 !important;
}

.card:hover{
    box-shadow:0px 2px 5px rgba(0, 0, 0, .5) !important;
}

.state{
    color:#f4f4f4;
}